{% extends 'base/base.html' %}
{% block title %}Configuración - Reflexion Journal{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1><span class="glyphicon glyphicon-lock text-primary"></span> Cambiar Contraseña</h1>
            <p><span class="glyphicon glyphicon-info-sign text-info"></span> Para cambiar tu contraseña, solicita un código de
                verificación. Ingresa el código recibido para establecer una nueva contraseña segura.</p>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="POST" action="{{ url_for('settings.send_change_password_code') }}">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Enviar código de cambio de contraseña</button>
                    <br><br>
                    <a href="{{ url_for('settings.settings_page') }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span> Volver a Configuración
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}