<footer class="footer footer-fixed" style="position: fixed; left: 0; bottom: 0; width: 100%; z-index: 100; background: #fff;">
    <div class="container">
        <p class="text-muted text-center">
            &copy; <span id="current-year"></span> Reflexion Journal. Creado por <a href="https://astronautmarkus.dev" target="_blank">AstronautMarkusDev</a>, basado en lo que todos necesitamos sin saberlo.
        </p>
    </div>
</footer>

<script>
    document.getElementById('current-year').textContent = new Date().getFullYear();
</script>