<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.home') }}">Reflexion Journal</a>
        </div>

        {% if current_user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.home') }}">Inicio</a></li>
            <li><a href="{{ url_for('journal.entries') }}">Entradas</a></li>
            <li><a href="#">Nueva Entrada</a></li>
        </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>
                    {% if current_user.is_authenticated %}
                        {% if current_user.username %}
                            {{ current_user.username }}
                        {% else %}
                            {{ current_user.first_name }} {{ current_user.last_name }}
                        {% endif %}
                    {% else %}
                        Usuario
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('journal.profile') }}">Perfil</a></li>
                        <li><a href="{{ url_for('settings.settings_page') }}">Configuración</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Iniciar sesión</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>